<% include partials/header.ejs %>

<%     let oldPosts = [];						%>
<%     let mostRecent = entry.pop() 			%>
<%     let previous = entry[entry.length-1] 	%>
<%	   let previousPrev= previous.content.slice(0, 700) + " ..."	%>
<%     for (let i=entry.length-2; i>-1; i-=1){	%>
<%     oldPosts.push(entry[i]);					%>
<%     }; 										%>

<!-- index page collapser -->
<div class="wrapper">
<div class="collapse show" id="collapseExample">
<div class="jumbotron" id="postPage">
	<h1 id="title">
	<strong>Plan B</strong>	 
	</h1>
	<h3>
		Matt Davey
	</h3>
	</div>
</div>
<div class="collapseNav">
  <button class="btn btnStyle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Enter
  </button>
</div>
	</div>

<!-- section 2 -->
    <div class="container" id="layout">
        <div class="post" >
            <span id="lpTitles">
                <h2><strong><%= mostRecent.title %></strong></h2>
                <h3><%= mostRecent.date.toDateString() %></h3>
            </span>
            
            <div class="card" id="cards">
                <img src="<%= mostRecent.image %>">
                <div class="card-body">
                    <h3><%= mostRecent.caption %></h3><br>
                    <p class="card-text"><%- mostRecent.content %></p>
                </div>
            </div>
    	</div>
 
<!-- section 3 -->
	<div class="post" style="height: 500px;">
        <div class="card">
            <div class="card-body">
                <img src="<%= previous.image %>" id="prevImage">
                <h5 class="card-title"><strong><%= previous.title %></strong></h5>
                <p class="card-text"><%= previousPrev %>.</p>
                <p class="card-text"><small class="text-muted"><%= previous.date.toDateString() %></small></p>
            </div>
			<a href="/posts/<%= previous._id %>" class="btn btnStyle">Read</a>
        </div>
    </div>
	</div>

<!-- section 4 -->
	<h2 style="text-align: center;">Old posts</h2> 
		<div class="post" id="oldPosts">
		<%oldPosts.forEach(function(oldie){%>
			<div class="column">  
				<img src="<%= oldie.image %>" class="oldImg">
				<div class="text">
					<h3><strong><%= oldie.title %></strong></h3>
					<a href="/posts/<%= oldie._id %>" class="btn btnStyle"><strong>Read</strong></a>
				</div>
			</div>
		<%})%>
		</div>
	</div>

<% include partials/footer.ejs %>

