<% include partials/header.ejs %>
<div class="container">
	<div class="showTemplate">
		<h2 style="text-align: center;"><%= entry.title %></h1>
		<div class="container" id="showPage">
			<img src="<%= entry.image %>">
			<p><strong><%= entry.caption %></strong></p>
			<p><strong><%= entry.date.toDateString() %></strong></p>
			<p><%- entry.content %></p>
			<div class="container" style="text-align: center; margin-bottom: 15px;">
				<a href="/" class="btn">Home</a>
			</div>
			<br>
		

			
		</div>
	</div>	
</div>

<% include partials/footer.ejs %>